:root {
  --background-color: #fff;
  --border-bottom: #e8ebed;
  --border-color: #1473e6;
  --background-hover: #f5f5f5;
  --border: #e8e8e8;
  --color-txt: #000;
  --background-color-menu: #f0f0f0;
  --background-txt: linear-gradient(to right bottom, #ff8f26, #ff5117);
}

aside {
  background: var(--background-color);
  padding: 0 8px;
  position: sticky;
  width: auto;
  float: left;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.new-post {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.new-post a {
  transition: all 0.5s;
}

.new-post:hover a {
  transform: scale(1.5);
}

.new-post a {
  color: var(--background-color);
  display: block;
  font-size: 14px;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.sidebar ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-txt);
  height: 72px;
  width: 72px;
  border-radius: 12px;
  font-weight: 500;
}

.sidebar ul li a:hover {
  background-color: var(--background-hover);
}

.active {
  background-color: var(--border-bottom);
}

.txt-menu {
  display: block;
  font-size: 10px;
}
